@import 'basics';

body{
    background-color: $light_green;
}
.section{
    padding: $d_section_padding;
}
.headingText{
    font-family: $heading_font;
    font-size: $d_heading_size;
    line-height: $heading_line_height;
    font-weight: 200;
}
.bodyText{
    font-family: $body_font;
    font-size: $d_body_size;
    line-height: $body_line_height;
    font-weight: $body_weight;
}
.navText{
    font-family: $body_font;
    font-size: $d_nav_size;
    font-weight: $nav_weight;
}
.button{
    background-color: $middle_blue;
    color: $light_green;
    border: 3px solid $dark_blue;
    font-family: $heading_font;
    font-size: $d_btn_size;
    padding: .6rem .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .8rem .8rem $dark_blue;
    cursor: pointer;
    white-space: nowrap;
    &:active{
        box-shadow: 0 0 $dark_blue;
        transform: translate(.3rem, .3rem);
        background-color: $red_clr;
    }
}
header{
    background-color: $light_blue;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 2.5rem !important;
    .bgLines{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        img{
            &:first-child{
                position: absolute;
                top: -3rem;
                right: -7rem;
                transform: scale(.8);
            }
            &:last-child{
                position: absolute;
                top: 10rem;
                left: 16rem;
                transform: scale(.9);
            }
        }
    }
}
.mNav{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $dark_blue;
    padding-bottom: 1.5rem;
    position: relative;
    .logo{
        img{
            height: 5rem;
            cursor: pointer;
        }
    }
    .navLinks{
        height: 2.3rem;
        display: flex;
        gap: 6rem;
    }
    ul{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        list-style: none;
        height: 100%;
        li{
            display: flex;
            align-items: center;
            height: 100%;
        }
        .joinBtn{
            font-family: $body_font;
            font-size: $d_nav_size;
            box-shadow: .4rem .4rem $dark_blue;
            padding: 0 .3rem;
            height: 100%;
        }
        a{
            text-decoration: none;
            &:hover{
                color: $red_clr;
            }
        }
    }
    .phoneCall{
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        .callButton{
            aspect-ratio: 1 / 1;
            height: 100%;
            background-color: $red_clr;
            box-shadow: .4rem .4rem $dark_blue;
            &:active{
                box-shadow: 0 0 $red_clr;
            }
            img{
                width: 1.3rem;
            }
        }
    }
}
.hero{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    .hero-headline{
        display: flex;
    }
    .headlineDecoration{
        padding-left: 7rem;
        h1{
            font-family: $heading_font;
            font-size: $d_headline_size;
            font-weight: 300;
            transform: translateX(1.5rem);
        }
        .Headline-second{
            position: relative;
            h1{
                position: absolute;
                top: 30%;
                left: 30%;
                transform: translate(-25%, -35%);
                color: $light_green;
                font-size: $d_headline_size;
                white-space: nowrap;
            }
            img{
                width: 18rem;
            }
        }
    }
    .hero-description{
        display: flex;
        background-color: $light_green;
        border: 3px solid $dark_blue;
        border-radius: 2rem;
        box-shadow: 1rem 1rem $middle_blue;
        padding: 2.5rem 7rem;
        .hero-text{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            p{
                width: 80%;
                line-height: 170%;
            }
            .heroCta{
                width: 50%;
                background-color: $red_clr;
                color: $light_green;
            }
        }
        .hero-illustration{
            position: relative;
            flex: 1;
            img{
              &:first-child{
                width: 4rem;
                position: absolute;
                top: -110%;
                right: 18%;
              }
              &:last-child{
                width: 32rem;
                position: absolute;
                top: -120%;
                transform: scaleX(-1);
              }

            }
        }
    }
}
.services{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .service{
        display: flex;
        gap: 15rem;
    }
    .service_illustration{
        img{
            width: 28rem;
        }
    }
    .service_description{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
        h2{
            width: 50%;
        }
        p{
            width: 70%;
        }
        .learnMore{
            width: 12rem;
            background-color:$dark_blue;
            color: $light_green;
            box-shadow: .8rem .8rem $red_clr;
            border: 3px solid $middle_blue;
            &:active{
                box-shadow: 0 0 $red_clr;
                background-color: $red_clr;
            }
        }
    }
    .serviceTwo{
        flex-direction: row-reverse;
        img{
            transform: translateX(-6rem);
        }
    }
}
.goals{
    background-color: $light_green;
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    width: 100%;
    .goals_left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .titleText{
            position: relative;
            width: fit-content;
            h1{
                position: relative;
                z-index: 300;
            }
            .lightText{
                color: $light_green;
                font-size: 3rem;
            }
            img{
                width: 13rem;
                position: absolute;
                top: 50%;
                right: -1.2rem;
            }
        }
        .goal_ctaBtn{
            width: fit-content;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .goalsArrow1{
            width: 8rem;
            position: absolute;
            bottom: 2rem;
            left: 6rem;
        }
        .goalsArrow2{
            width: 10rem;
            position: absolute;
            top: 7rem;
            left: 6rem;
        }
    }
    .goals_right{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap:3rem;
        .goals_cardLine{
            display: flex;
            gap: 3rem;
        }
        .goals_card{
            aspect-ratio: 1/1;
            height: 17rem;
            padding: 2rem;
            background-color: $light_blue;
            border: 3px solid $dark_blue;
            box-shadow: .8rem .8rem $dark_blue;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            img{
                width: 3.2rem;
                margin-bottom: .5rem;
                transform: translateY(120%);
                transition: all .3s ease-in;
            }
            h3{
                font-family: $heading_font;
                font-weight: 300;
                margin-bottom: .8rem;
                transform: translateY(290%);
                transition: all .3s ease-in;
            }
            p{
                opacity: 0;
                font-size: .9rem;
                line-height: 130%;
                transition: all .3s ease-in-out;
            }
            &:hover{
                background-color: $middle_blue;
                box-shadow: 0 0 $dark_blue;
                img{
                    transform: translateY(0);
                }
                h3{
                    transform: translateY(0);
                    color: white;
                }
                p{
                    opacity: 1;
                    color: white;
                }
            }
        }
    }
}
.teachers{
    background-color: $light_blue;
    position: relative;
    overflow: hidden;
    .teachers_bgLines{
            position: absolute;
            top: -2rem;
            left: 20rem;
            img{
                width: 60rem;
            }
    }
    .teachers_heading{
        position: relative;
        margin-bottom: 8rem;
    }
    .teachers_testmonies{
        display: flex;
        gap: 6rem;
        .teachers_illustration{
            flex: 1;
            position: relative;
            img{
                height: 25rem;
                &:last-child{
                    height: 26rem;
                    position: absolute;
                    top: -4rem;
                    left: .3rem;
                }
            }
        }
        .teachers_description{
            flex: 1;
            .description_title{
                display: flex;
                align-items: center;
                gap: 2rem;
                img{
                    width: 3rem;
                }
            }
            p{
                margin: 3rem 0;
            }
        }
        .teachers_navigation{
            display: flex;
            gap: 3rem;
            .navigationBtn{
                position: relative;
                width: 3rem;
                height: 3rem;
                border: 3px solid $dark_blue;
                border-radius: 50px;
                background-color: $light_blue;
                box-shadow: .3rem .3rem $dark_blue;
                cursor: pointer;
                .next{
                    width: 0;
                    height: 0;
                    border-top: .6rem solid transparent;
                    border-left: .9rem solid $dark_blue;
                    border-bottom: .6rem solid transparent;
                    position: absolute;
                    top: 50%;
                    left: 55%;
                    transform: translate(-50%, -50%);
                }
                .previous{
                    width: 0;
                    height: 0;
                    border-top: .6rem solid transparent;
                    border-right: .9rem solid $dark_blue;
                    border-bottom: .6rem solid transparent;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover{
                    background-color: $middle_blue;
                }
                &:active{
                    box-shadow: 0 0 $dark_blue;
                    transform: translate(.3rem, .3rem);
                }
                &.disabled{
                    border: 3px solid $middle_blue;
                    box-shadow: 0 0 $red_clr;
                    pointer-events: none;
                }
            }
        }
    }
    .teachers_characteristics{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 6rem 0;
        text-align: center;
        div{
            flex: 1;
            align-self: stretch;
            border-right: 4px solid $middle_blue;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child{
                border-right: transparent;
            }
        }
    }
    .teachers_CTA{
        display: flex;
        justify-content: center;
        .ctaBtn{
            width: fit-content;
            padding-left: 2rem;
            padding-right: 2rem;
            background-color: $red_clr;
            z-index: 10;
        }
    }
}
.faqs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .faqs_questionsBloc{
        align-self: center;
        width: 35%;
        .faqs_question{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border-bottom: 3px solid $light_blue;
            padding: 1rem;
            .questionLine{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-weight: 600;
                }
                span{
                    font-weight: 600;
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
            .questionBody{
                display: none;
            }
        }
        .faqs_ctaBtns{
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
            div{
                font-size: $d_btn_size;
            }
            .askQst{
                background-color: $light_blue;
                color: $dark_blue;
            }
        }
    }
}
.footer{
    .footer_navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer_logo{
        img{
            height: 5rem;
            cursor: pointer;
        }
        }
        .footer_links{
            ul{
                display: flex;
                gap: 2rem;
                list-style: none;
                a{
                    text-decoration: none;
                    &:hover{
                        color: $red_clr;
                    }
                }
            }
        }
        .footer_cta{
            font-size: 1.5rem;
            padding: .5rem 1.5rem;
            box-shadow: .6rem .6rem $dark_blue;
            &:active{
                box-shadow: 0 0 $dark_blue;
            }
        }
    }
    .footer_social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .7rem;
        margin-top: 1.5rem;
        img{
            width: 1.5rem;
        }
    }
}
// Responsive

@media only screen and (max-width: $laptop_bp){
    .section{
        padding: $l_section_padding;
    }
    .headingText{
        font-size: $t_heading_size;
    }
    .bodyText{
        font-size: $t_body_size;
    }
    .navText{
        font-size: $t_nav_size;
    }
    .button{
        font-size: $t_btn_size;
        padding: .6rem .3rem;
        
        &:active{
            box-shadow: 0 0 $dark_blue;
            transform: translate(.3rem, .3rem);
            background-color: $red_clr;
        }
    }
    header{
        padding-top: 1.5rem !important;
        .bgLines{
            img{
                &:first-child{
                    top: -5rem;
                    right: -9rem;
                    transform: scale(.7);
                }
                &:last-child{
                    left: 8rem;
                    transform: scale(.6);
                }
            }
        }
    }
    nav{
        padding-bottom: 1rem;
        .logo{
            img{
                height: 4rem;
            }
        }
        ul{
            .joinBtn{
                font-size: $t_nav_size;
            }
        }
    }
    .hero{
        padding-top: 2.5rem;
        .headlineDecoration{
            padding-left: 4rem;
            h1{
                font-size: $t_headline_size;
            }
            .Headline-second{
                h1{
                    top: 30%;
                    left: 30%;
                    transform: translate(-25%, -35%);
                    color: $light_green;
                    font-size: $t_headline_size;
                    white-space: nowrap;
                }
                img{
                    width: 15rem;
                }
            }
        }
        .hero-description{
            padding: 2.2rem 4rem;
            .hero-text{
                gap: 1rem;
                p{
                    width: 100%;
                }
                .heroCta{
                    width: 60%;
                }
            }
            .hero-illustration{
                img{
                  &:first-child{
                    width: 3rem;
                    top: -90%;
                  }
                  &:last-child{
                    width: 25rem;
                    top: -92%;
                  }
                }
            }
        }
    }
    .services{
        .service{
            gap: 8rem;
        }
        .service_illustration{
            img{
                width: 22rem;
            }
        }
        .service_description{
            margin-top: 1rem;
            h2{
                width: 70%;
            }
            p{
                width: 95%;
            }
            .learnMore{
                width: 10rem;
            }
        }
        .serviceTwo{
            img{
                transform: translateX(-4rem);
            }
        }
    }
    .goals{
        .goals_left{
            .titleText{
                .lightText{
                    font-size: 2.3rem;
                }
                img{
                    width: 10.3rem;
                }
            }
            .goalsArrow2{
                top: 5.5rem;
                left: 4rem;
            }
        }
        .goals_right{
            gap:2rem;
            .goals_cardLine{
                gap: 2rem;
            }
            .goals_card{
                height: 15rem;
            }
        }
    }
    .faqs{
        .faqs_questionsBloc{
            align-self: center;
            width: 45%;
            .faqs_ctaBtns{
                div{
                    font-size: $t_btn_size;
                }
            }
        }
    }
    .footer{
        .footer_navigation{
            .footer_logo{
                img{
                    height: 4rem;
                }
            }
            .footer_cta{
                font-size: $t_btn_size;
            }
        }
    }
}
@media only screen and (max-width: $mobile_bp){
    .section{
        padding: $m_section_padding;
    }
    .headingText{
        font-size: $m_heading_size;
    }
    header{
        padding: 0 !important;
        overflow: hidden;
        .bgLines{
            img{
                &:first-child{
                    top: 50%;
                    transform: scale(.5);
                }
                &:last-child{
                    left: 3rem;
                    transform: scale(.5);
                }
            }
        }
    }
    nav{
        display: none;
        background-color: $light_blue;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        border-bottom: none;
        padding: 4rem;
        .logo{
            display: none;
        }
        .navLinks{
            height: initial;
            flex-direction: column;
            gap: initial;
        }
        ul{
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            height: 100%;
            .joinBtn{
                padding: .6rem;
            }
        }
        .phoneCall{
            display: none;
        }
    }
    .mNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        padding: 2rem 1rem;
        .mNav_logo{
            img{
                height: 4rem;
            }
        }
        .mNav_btns{
            display: flex;
            gap: 1rem;
            .mNav_btn{
                width: 2.2rem;
                height: 2.2rem;
                background-color: $middle_blue;
                border: 3px solid $dark_blue;
                box-shadow: .5rem .5rem $dark_blue;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 1.2rem;
                }
                &:active{
                    box-shadow: 0 0 $dark_blue;
                    transform: translate(.3rem, .3rem);
                    background-color: $red_clr;
                }
            }
            .mNav_callBtn{
                background-color: $red_clr;
            }
            .mNav_menuBtn{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .mNav_menuBtn_bar{
                background-color: $light_green;
                width: 10px;
                height: 2px;
                transform: rotate(180deg);
                margin-left: .5rem;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                
                &:before, &:after{
                    content: '';
                    background-color: $light_green;
                    position: absolute;
                    width: 17px;
                    height: 2px;
                }
                &::before {
                    transform: translateY(-10px);
                }
                &::after {
                    transform: translateY(10px);
                }
                &--opened{
                    transform: translateX(-15px);
                    background: transparent;
                }
                &--opened::before{
                    transform: rotate(45deg) translate(5px, -5px);
                }
                &--opened::after{
                    transform: rotate(-45deg) translate(5px, 5px);
                }
            }
        }
    }
    .hero{
        padding-top: 0;
        gap: 0;
        .headlineDecoration{
            padding-left: 2rem;
            h1{
                transform: initial;
                font-size: $m_headline_size;
            }
            .Headline-second{
                h1{
                    transform: translate(-35%, -35%);
                    font-size: $m_headline_size;
                }
                img{
                    width: 9.5rem;
                }
            }
        }
        .hero-description{
            flex-direction: column;
            background-color: transparent;
            border: none;
            box-shadow: none;
            padding: 1rem 2rem;
            .hero-text{
                gap: 1.5rem;
                p{
                    width: 100%;
                }
                .heroCta{
                    width: 50%;
                }
            }
            .hero-illustration{
                img{
                  &:first-child{
                    width: 4rem;
                    top: -2.3rem;
                    right: -1rem;
                  }
                  &:last-child{
                    width: 24rem;
                    top: 0;
                    right: -8rem;
                  }
                }
            }
        }
    }
    .services{
        gap: 5rem;
        .service{
            flex-direction: column;
            gap: 1rem;
        }
        .service_illustration{
            img{
                width: 16rem;
                transform: translateX(-1rem);
            }
        }
        .service_description{
            margin-top: 0;
            h2{
                width: 980;
            }
            p{
                width: initial;
            }
            .learnMore{
                width: 9rem;
            }
        }
        .serviceTwo{
            flex-direction: inherit;
            img{
                transform: translateX(-1rem);
            }
        }
    }
    .goals{
        position: relative;
        flex-direction: column;
        gap: 5rem;
        .goals_left{
            position: initial;
            .titleText{
                .lightText{
                    font-size: 2.2rem;
                }
                img{
                    width:10rem;
                    right: -1.3rem;
                }
            }
            .goal_ctaBtn{
                position: absolute;
                bottom: -6rem;
                left: 50%;
                transform: translateX(-50%);
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .goalsArrow1{
                width: 5.5rem;
                bottom: -3rem;
                left: 12rem;
            }
            .goalsArrow2{
                width: 6rem;
                top: 8rem;
                left: 10rem;
            }
        }
        .goals_right{
            flex-direction: column;
            justify-content: flex-start;
            .goals_cardLine{
                flex-direction: column;
                align-items: center;
            }
            .goals_card{
                width: 90%;
                height: initial;
                padding: 2rem;
            }
        }
    }
    .teachers{
        margin-top: 9rem;
        .teachers_bgLines{
            top: 4rem;
            left: -3rem;
            img{
                width: 30rem;
            }
        }
        .teachers_testmonies{
            flex-direction: column;
            gap: 4rem;
            .teachers_illustration{
                img{
                    height: 18rem;
                    &:last-child{
                        height: 19rem;
                    }
                }
            }
            .teachers_description{
                .description_title{
                    gap: .8rem;
                }
            }
        }
        .teachers_characteristics{
            .teachers_carac{
                font-size: 1.5rem;
            }
        }
        .teachers_CTA{
            .ctaBtn{
                width: fit-content;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .faqs{
        gap: 2rem;
        .faqs_questionsBloc{
            width: 100%;
            .faqs_ctaBtns{
                margin-top: 3rem;
                gap: 1.5rem;
                div{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .footer{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 4rem;

        .footer_navigation{
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            .footer_logo{
            img{
                height: 6rem;
            }
            }
            .footer_links{
                ul{
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                }
            }
            .footer_cta{
                font-size: 1.5rem;
                padding: .5rem 1rem;
            }
        }
        .footer_social{
            margin-top: 0;
            img{
                width: 1.7rem;
            }
        }
    }
}